body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:762px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:51px;
  top:15px;
  width:385px;
  height:762px;
}
#u118 {
  position:absolute;
  left:2px;
  top:373px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u119 {
  position:absolute;
  left:53px;
  top:17px;
  width:381px;
  height:45px;
  font-size:11px;
  color:#000000;
}
#u120 {
  position:absolute;
  left:2px;
  top:16px;
  width:377px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:91px;
  top:32px;
  width:39px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书 Bold', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u123 {
  position:absolute;
  left:68px;
  top:30px;
  width:11px;
  height:21px;
  font-family:'隶书 Bold', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:2px;
}
#u125 {
  position:absolute;
  left:129px;
  top:167px;
  width:229px;
  height:1px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:129px;
  top:141px;
  width:214px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:2px;
}
#u129 {
  position:absolute;
  left:129px;
  top:216px;
  width:229px;
  height:1px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:129px;
  top:190px;
  width:214px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:762px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:490px;
  top:15px;
  width:385px;
  height:762px;
}
#u134 {
  position:absolute;
  left:2px;
  top:373px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u135 {
  position:absolute;
  left:491px;
  top:17px;
  width:383px;
  height:45px;
  font-size:11px;
  color:#000000;
}
#u136 {
  position:absolute;
  left:2px;
  top:16px;
  width:379px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:530px;
  top:32px;
  width:39px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书 Bold', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u139 {
  position:absolute;
  left:507px;
  top:30px;
  width:11px;
  height:21px;
  font-family:'隶书 Bold', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:2px;
}
#u141 {
  position:absolute;
  left:569px;
  top:220px;
  width:229px;
  height:1px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:569px;
  top:240px;
  width:214px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:2px;
}
#u145 {
  position:absolute;
  left:569px;
  top:266px;
  width:229px;
  height:1px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-8px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:569px;
  top:194px;
  width:214px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:569px;
  top:141px;
  width:214px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:569px;
  top:284px;
  width:214px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  position:absolute;
  left:569px;
  top:377px;
  width:229px;
  height:47px;
}
#u154 {
  position:absolute;
  left:2px;
  top:16px;
  width:225px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  position:absolute;
  left:569px;
  top:343px;
  width:214px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:122px;
  top:373px;
  width:229px;
  height:47px;
}
#u158 {
  position:absolute;
  left:2px;
  top:16px;
  width:225px;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  position:absolute;
  left:945px;
  top:17px;
  width:300px;
  height:170px;
}
#u160 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:945px;
  top:205px;
  width:300px;
  height:170px;
}
#u162 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:1007px;
  top:139px;
  width:181px;
  height:38px;
}
#u164 {
  position:absolute;
  left:2px;
  top:11px;
  width:177px;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u165 {
  position:absolute;
  left:1049px;
  top:39px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:1007px;
  top:322px;
  width:181px;
  height:38px;
}
#u168 {
  position:absolute;
  left:2px;
  top:11px;
  width:177px;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u169 {
  position:absolute;
  left:1057px;
  top:226px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  position:absolute;
  left:944px;
  top:404px;
  width:300px;
  height:170px;
}
#u172 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  position:absolute;
  left:944px;
  top:592px;
  width:300px;
  height:170px;
}
#u174 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:945px;
  top:535px;
  width:145px;
  height:38px;
}
#u176 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u177 {
  position:absolute;
  left:1048px;
  top:426px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:945px;
  top:723px;
  width:145px;
  height:38px;
}
#u180 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u181 {
  position:absolute;
  left:1056px;
  top:613px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:1091px;
  top:535px;
  width:152px;
  height:38px;
}
#u184 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:1091px;
  top:723px;
  width:152px;
  height:38px;
}
#u186 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:1276px;
  top:404px;
  width:300px;
  height:170px;
}
#u188 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:1277px;
  top:535px;
  width:145px;
  height:38px;
}
#u190 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:1423px;
  top:535px;
  width:152px;
  height:38px;
}
#u192 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:1283px;
  top:205px;
  width:300px;
  height:170px;
}
#u194 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:1284px;
  top:336px;
  width:145px;
  height:38px;
}
#u196 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u197 {
  position:absolute;
  left:1388px;
  top:426px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:1430px;
  top:336px;
  width:152px;
  height:38px;
}
#u200 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u201 {
  position:absolute;
  left:1397px;
  top:226px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
